.background-pic{
  background-image: url("../img/background.jpg") !important;
  background-repeat: repeat !important;
  background-size: 20%;
}
.banner {
    width: 100% !important;
    height: 20em !important;
    object-fit: cover !important;
  }

  .nav-link{
    color: rgb(213, 12, 133) !important; 
  }

  .active{
    font-weight: bold !important;
  }

  .nav-link:hover{
    color: rgb(198, 115, 159) !important;
    background-color: white;
    border-radius: 10px;
  }

  tr.no-top-border td {
    border-top: none !important;
  }

  table {
    table-layout: fixed !important;
}

.card img{
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
}

.nav-item{
  font-size: 1.05em !important;
}

.main-content {
  min-height: 76vh; /* Al menos la altura de la ventana */
}

.btn-danger{
  background-color: rgb(241, 147, 197) !important;
  border-color: rgb(241, 147, 197) !important;
  font-weight: 500 !important;
}

.product-title{
  color: rgb(213, 12, 133) !important;
}